.navbar-nav .nav-link {
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.75) !important;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #d4622a !important;
}

.navbar-nav .nav-link.active {
    color: #d4622a !important;
}