:root {
  --color-principal: #2E5DA8;
  --color-acento:    #d4622a;
  --color-fondo:     #f5f3ee;
  --color-oscuro:    #1a1917;
  --color-borde:     #dedad2;
  --color-verde:     #2a8a72;
}

body {
  background-color: var(--color-fondo);
  font-family: 'Outfit', sans-serif;
}